@import "src/variables/variables-color"

.tweets
  box-sizing: border-box
  position: relative
  //margin-bottom: 55px
  padding: 0 10px
  border-bottom: 6px solid $border
  height: 190px

  .textarea-container
    display: flex

    img
      width: 50px
      height: 50px
      border-radius: 50%

    textarea
      width: 100%
      outline: none
      resize: none
      padding: 15px
      box-sizing: border-box
      font-size: 20px
      color: #778794
      border: none
      border-bottom: 1px solid $border

.post
  top: 135px
  right: 10px