@import "src/variables/variables-color"

.tweets
  box-sizing: border-box
  position: relative
  margin-bottom: 80px
  padding: 0 10px

  .textarea-container

    textarea
      width: 100%
      border: 1px solid #778794
      outline-color: $main-blue
      resize: none
      padding: 10px
      box-sizing: border-box
      font-size: 20px
      color: #778794
      border-radius: 5px

.post
  top: 130px
  right: 10px