@import "src/variables/variables-color"

.log-out-wrapper
  display: flex
  align-items: center
  bottom: 50px

  img
    width: 50px
    height: 50px
    border-radius: 50%
    margin-right: 10px

.log-out-user-info
  min-width: fit-content
  display: flex
  flex-direction: column
  margin-right: 20px

  span
    font-weight: 700

  .login
    color: #778794
    font-weight: 400

.log-out-m
  display: none

.pop-up
  min-width: fit-content
  text-align: center
  position: absolute
  top: -60px
  box-shadow: 0 0 10px rgba(0,0,0, 0.3)
  border-radius: 10px
  cursor: pointer
  visibility: hidden
  right: 0
  color: #000
  z-index: 8
  background: #fff
  padding: 10px 20px

.visible
  visibility: visible

.arrow-icon
  cursor: pointer

@media screen and (max-width: 1023px)
  .log-out-user-info
    display: none

  .arrow-icon
    display: none

  .log-out-h
      display: none

  .log-out-m
    display: block

@media screen and (max-width: 767px)
  .log-out-wrapper
    img
      width: 40px
      height: 40px
      margin: 0
      padding: 0


