@import "src/variables/variables-color"

.main-container
  display: flex
  padding-right: 200px

@media screen and (max-width: 1023px)
  .main-container
    padding-right: 100px

@media screen and (max-width: 767px)
  .main-container
    padding-right: 0
