@import "src/variables/variables-color"

.navigation-menu
  min-width: 350px
  border-right: 1px solid $border
  min-height: 100vh

.wrapper
  padding-top: 20px
  width: 250px
  padding-left: 100px
  position: fixed
  height: 100vh
  z-index: 1

.fa-twitter
  color: $main-blue
  font-size: 28px

.list-items
  padding-left: 0

  a
    text-decoration: none
    color: #000
    transition: .2s

    &:hover
      color: $main-blue

  li
    list-style: none
    margin-top: 20px
    font-size: 22px
    font-family: 'Roboto', sans-serif

    .fas-logo
      font-size: 25px
      margin-right: 20px

.log-out-container
  position: absolute
  bottom: 40px

@media screen and (max-width: 1023px)
  .list-items
    span
      display: none

  .navigation-menu
    min-width: 130px

  .wrapper
    padding-left: 50px
    width: 80px

@media screen and (max-width: 767px)
  .navigation-menu
    min-width: 0
    border-right: none
    min-height: 100vh
    position: absolute
    z-index: 10
    bottom: 0

  .wrapper
    padding-top: 0
    width: 100%
    padding-left: 0
    height: 0

  .list-items
    display: flex
    align-items: center
    justify-content: space-around
    position: fixed
    bottom: 0
    width: 100%
    background: #fff
    z-index: 20
    height: 70px
    margin: 0
    border-top: 1px solid $border

  .log-out-container
    position: static
    bottom: 0

  .twitter-logo
    display: none